---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import { Navigation } from "../components/Nav";
import Socials from "../components/Socials";
---

<Layout>
  <div class="bg-gradient-to-tl from-zinc-900/0 via-zinc-900 to-zinc-900/0">
    <Navigation />
    <div
      class="container flex items-center justify-center min-h-screen px-4 mx-auto"
    >
      <div
        class="grid w-full grid-cols-1 gap-8 mx-auto mt-32 sm:mt-0 sm:grid-cols-3 lg:gap-16"
      >
        <Socials client:load />
      </div>
    </div>
  </div>
</Layout>
