---
import Layout from '../layouts/Layout.astro';

import { Card } from '../components/Card';
import { Navigation } from '../components/Nav';

import { getCollection } from 'astro:content';
const allProjects = await getCollection('projects');
---

<Layout>
    <div class="relative min-h-screen bg-gradient-to-tl from-zinc-900 via-zinc-400/10 to-zinc-900">
        <div class="relative pb-16">
            <Navigation />
            <div class="px-6 pt-20 mx-auto space-y-8 max-w-7xl lg:px-8 md:space-y-16 md:pt-24 lg:pt-32">
                <div class="max-w-2xl mx-auto lg:mx-0">
                    <h2 class="text-3xl font-bold tracking-tight text-zinc-100 sm:text-4xl">
                        Projects
                    </h2>
                    <p class="mt-4 text-zinc-400">
                        All of my projects I made are listed below
                    </p>
                </div>

                <div class="w-full h-px bg-zinc-800" />

                <div class="grid grid-cols-1 gap-4 mx-auto lg:mx-0 md:grid-cols-3">
                    <div class="grid grid-cols-1 gap-4">
                        {allProjects
                            .map((project) => (
                                <Card client:load>
                                    <a href={`/projects/${project.slug}`}>
                                        <article class="p-4 md:p-8">
                                            <div class="flex justify-between gap-2 items-center">
                                                <span class="text-xs duration-1000 text-zinc-200 group-hover:text-white group-hover:border-zinc-200 drop-shadow-orange">
                                                    {project.data.date ? (
                                                        <time datetime={new Date(project.data.date).toISOString()}>
                                                            {Intl.DateTimeFormat(undefined, { dateStyle: "medium" }).format(
                                                                new Date(project.data.date)
                                                            )}
                                                        </time>
                                                    ) : (
                                                        <span>SOON</span>
                                                    )}
                                                </span>
                                            </div>
                                            <h2 class="z-20 text-xl font-medium duration-1000 lg:text-3xl text-zinc-200 group-hover:text-white font-display">
                                                {project.data.title}
                                            </h2>
                                            <p class="z-20 mt-4 text-sm  duration-1000 text-zinc-400 group-hover:text-zinc-200">
                                                {project.data.description}
                                            </p>
                                        </article>
                                    </a>
                                </Card>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>