---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Header } from '../../components/Header';
import { components } from '../../components/MDX';
import '../../styles/mdx.css';

export async function getStaticPaths() {
    const projectEntries = await getCollection('projects');

    return projectEntries.map(project => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout>
    <div class="bg-zinc-50 min-h-screen">
        <Header project={project.data} />

        <article class="px-4 py-12 mx-auto prose prose-zinc prose-quoteless">
            <Content components={components} />
        </article>
    </div>
</Layout>