---
import Layout from "../../layouts/Layout.astro";
import { Header } from "../../components/header";
import { components } from "../../components/mdx";
import { getCollection } from "astro:content";
import "../../styles/mdx.css";

export async function getStaticPaths() {
  const projectEntries = await getCollection("project");

  return projectEntries.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout>
  <div
    class="relative min-h-screen bg-gradient-to-tl from-zinc-900 via-zinc-400/10 to-zinc-900"
  >
    <div class="bg-zinc-50 min-h-screen">
      <Header project={project.data} />

      <article class="px-4 py-12 mx-auto prose prose-zinc prose-quoteless">
        <Content components={components} />
      </article>
    </div>
  </div>
</Layout>
